.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes changeColors {
  0% { stop-color: #0000ff; } /* Blue */
  25% { stop-color: #8000ff; } /* Purple */
  50% { stop-color: #ff00ff; } /* Pink */
  75% { stop-color: #ff0080; } /* Magenta */
  100% { stop-color: #ff0000; } /* Red */
}

#startColor, #endColor {
  animation: changeColors 6s infinite alternate;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }


}
